button {
	border-radius: 10px;
	border: 2px solid rgb(23, 61, 110);
	background-color: rgb(39, 127, 199);
	text-align: center;
	padding: 8px 12px;
	margin: 5px;
}

button:hover {
	background-color: rgb(23, 61, 110);
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;
	background-color: grey;
	border-color: grey;
	color: rgb(88, 88, 88);
}
