.cells {
	border: 1px solid black;
	width: 30px;
	height: 30px;
	background: #9ac0c1;
}

.on-play {
	cursor: url('../../assets/output-onlinepngtools.png') 8 10, auto;
}

.on-play :hover {
	background-color: yellow;
}

.ship-cell {
	background-color: chocolate;
}

.water {
	background-color: black;
	background: url(../../assets/whiteWaves.svg);
}

.boat-hit {
	background-color: red;
	background: url(../../assets/barco.svg);
}

.disabled {
	pointer-events: none;
	cursor: progress;
}

.placing-boat {
	background-color: rgb(20, 57, 220);
	cursor: grabbing;
}

.reserved-cell {
	background-color: rgb(75, 34, 224);
}

.light-up {
	background-color: aqua;
}
